body{
	background: url("Images/Breakfast-sm.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
	width: 75%;
	padding: 7%;
	background: rgba(255, 255, 255, 0.9);
    backdrop-filter: grayscale(1) contrast(3) blur(1px);
    margin: 5% auto;
    padding-left: 5%;
}	


.name{
	font-weight: bold;
	
}

.name .description{
	font-weight: normal;
}

h1{
	padding-bottom: 5%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
                 0px 8px 13px rgba(0,0,0,0.1) ;
                 0px 18px 23px rgba(0,0,0,0.1) ;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.rate{
	float: right;
}

.col-md-6:nth-of-type(1){
    padding-left: 7%;
    padding-right: 5%;
}

.col-md-6:nth-of-type(2){
	line-height: 2.5;
    padding-left: 7%;
    padding-right: 5%;
}



